*{
   margin: 0;
   padding: 0;
   /* background-color: rgb(107, 71, 71); */
   color: aliceblue;

}
#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
    cursor: pointer;
  }

.welcome{
 height: 50%;
width: 70%; 
display: flex;
flex-direction: column;
position: absolute;
left: 15%;
top: 10%;
padding: 20px;
background-color: rgb(43, 75, 75);
text-align: center;
box-sizing: border-box;
justify-content: space-between;
background-image:url("https://miro.medium.com/v2/resize:fit:600/1*EwpvDBIfjJiPH100l51UGg.png") ;
background-color:rgba(52, 177, 102, 0.107);

}

#start{
    font-size: larger;
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    align-self: flex-end;
    color: rgb(33, 29, 29);

}
.welcome span {
    font-size: 60px;
    padding: 60px;
    color:#C8DF52;
    /* background-color: rgba(8, 79, 23, 0.168); */

}

#winDivOverlay{
    position: absolute;
    display: block;
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20%;
    background-color: rgba(233, 226, 226, 0.5);
    z-index: 2;
    cursor: pointer;
}

#winPop{
    height: 50%;
    width: 55%; 
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 24%;
    top: 15%;
    text-align: center;
    font-size: 60px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 20px;
    background-image: url(./images/0a4cc12db9682807464406275f2f794c.jpg);
    background-position: center;
    background-size:auto;
    border-radius: 10px;
    /* box-shadow: 10px 10px 5px lightblue */
}
#winPop span{
    background-color: #12201c2f;
    color:rgba(0, 0, 0, 0.747);

}


#playAgainButton{
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    height: 40px;
    align-self: center;
    background-color:black;
    color: rgb(250, 255, 255);
}
#XODiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    height: 700px;
    width: 90vh;
    padding: 70px;
    position: relative;
    /* margin-left: 70px; */
 /* left: 240px */
}
body{
    /* position:absolute; */
    background-image: url("./images/original-2108c6cc88917da461984069646b8a10.png");
    background-size: cover;
    background-position: top;

}
#button{
    border-radius: 5px;
    padding: 5px;
    width: 90px;
    height: 50px;
    align-self: center;
    background-color:black;
    color: rgb(250, 255, 255);
}


#row0_col1{
    font-size: 100px;
    text-align: center;
    /* margin-top: 40px; */
    padding: 20px;
    border-bottom: 10px solid  rgb(186, 170, 170);

}

#row0_col2{
    font-size: 100px;
    text-align: center;
    padding: 20px;
    border-left: 10px solid  rgb(186, 170, 170);
    border-bottom: 10px solid  rgb(186, 170, 170);
}
#row0_col3{
    font-size: 100px;
    text-align: center;
    /* margin-top: 40px; */
    padding: 20px;
    border-left: 10px solid  rgb(186, 170, 170);
    border-bottom: 10px solid  rgb(186, 170, 170);

}
#row1_col1{
    font-size: 100px;
    text-align: center;
    padding: 20px;
    border-bottom: 10px solid  rgb(186, 170, 170);
}
#row1_col2{
    font-size: 100px;
    text-align: center;
    /* margin-top: 40px; */
    padding: 20px;
    border-left: 10px solid  rgb(186, 170, 170);
    border-bottom: 10px solid  rgb(186, 170, 170);
    /* border: inset 5px ; */
}
#row1_col3{
    font-size: 100px;
    text-align: center;
    padding: 20px;
    border-left: 10px solid  rgb(186, 170, 170);
    border-bottom: 10px solid  rgb(186, 170, 170);
}
#row2_col1{
    font-size: 100px;
    text-align: center;
    padding: 20px;

}
#row2_col2{
    font-size: 100px;
    text-align: center;
    padding: 20px;
    border-left: 10px solid  rgb(186, 170, 170);

}
#row2_col3{
    font-size: 100px;
    text-align: center;
    padding: 20px;
    border-left: 10px solid rgb(186, 170, 170);

}
#row3_col3 , #row3_col0{
    align-self: flex-end;
    text-align: end;
}
